ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    width: calc((100% / 3) - 40px);
    box-sizing: border-box;
  }

  body {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
  }

  img {
    border: rgb(226, 162, 154) 10px solid;
    outline: FireBrick 5px solid;
    box-sizing: border-box;
    width: 100%;
  }