body {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

ul {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  position: relative;
}

li {
  box-sizing: border-box;
  flex: 0 0 calc((100%/3) - 14px); 
  border: #FA8072 10 px solid;
  outline: firebrick 5px solid;
  align-items: center;
  display: flex;
  background-color: #FA8072;
  
}

img {
  border: #FA8072 10px solid;
  box-sizing: border-box;
  width: 100%;
  object-fit: contain;
  object-position: center; 
}